# Zkompilované výstupy C#
[Bb]in/
[Oo]bj/

# Dočasné soubory Visual Studia / Rideru
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logy a skryté soubory operačního systému
*.log
.DS_Store
Thumbs.db
